body {
	background: blanchedalmond;
	
}
ul {
    list-style-type: none;
    
    padding: 0;
    overflow: hidden;
    background-color:black;

    
    margin: auto;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #0000FF;
}

.active {
    background-color: #9F79EE;
}

.chatboxstyle {
  background-color: lightskyblue;
  text-decoration:none;
}

.footer
{
  background-color:black;
  color:white;
  padding:  5px 5px 1px 5px;
}

table{

  background-color: white;
}

.content {
  max-width: 500px;
  margin: auto;
}

.success {
  color: green;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.error {
  color: red;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  
  border-radius: 5px;
  padding: 10px;
}
.answerselect {
   height:50px;
    width:200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.centers {
  /*margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 10px;
  
}

.questionbox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.play {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.boxes{
  display: inline-block; 
  margin-right: 200px;
  
  border: 3px solid black;
 
}

.pageform{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
border: 3px solid black;
}

textarea {
  resize: none;
  background-color:#99FFFF;
}
/*foruminfopage*/
.foruminfobox {
  border-style: solid;
  margin: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}
.forumBox{
	position: relative;
	margin: 1%;
	padding: 10px 10px;
	border: 1px solid #ececec;
  background: gray;
	border-radius: 20px;
	max-height: 50vh;
	min-height: 10vh;
   overflow-x: hidden;
}

/*reportadmin*/
.solid {
  border-style: solid;
  
  
}

.report {
  margin: 10px;
 
}

.reportbox {
  margin: 10px;
  border-style: solid;
  background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;

	
}
a:hover {
  background-color: lightblue;
}

.reportboxinfo1 {
  margin: 10px;
  border-style: solid;
  background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;

	
}

.buttonright {


  position: relative;
  left: 80%;

  
}
.reporttitle {
  display:inline;
  margin-right: 300px;
}
#reportboxinfo { color: inherit; 
  text-decoration:none;} 

  
/*reportadmin*/

form { margin: 70px;
  border: 1px solid black;}

#update { display: none; }

th {
  text-align: center;
}

td {
  text-align: center;
}




.inputum{
	background-color: #ececec;
	padding:2%;
	
	left: 0;
	bottom: 0;
	width: 100%;
}

/*chat*/


 .message{
 	border: 1px solid #007AFF;
 	background: #007AFF;
 	padding:2%;
 	width: 40%;
 	color: #fff;
 	border-radius:  20px;

   
 }

 .chatbox{
	position: relative;
	margin: 1%;
	padding: 10px 10px;
	border: 1px solid #ececec;
  background: gray;
	border-radius: 20px;
	max-height: 50vh;
	min-height: 10vh;
   overflow-x: hidden;
}
.chatbox1{
	position: relative;
	margin: 1%;
	padding: 10px 10px;
	border: 1px solid #ececec;
  background: gray;
	border-radius: 20px;
	max-height: 50vh;
	min-height: 10vh;
   overflow-x: hidden;
}

/*test----------------------------------------for chat*/
.flex-container {
  display: flex;
  background-color: DodgerBlue;
  height:750px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
 
  font-size: 30px;
  width:80%
}

#chatflex{
  width:20%

}

a:active {
  color: yellow;
}

